.text-box {
    padding-top: 2rem;
}

.result {
    margin-bottom: 0;
    margin-top: 3rem;
    font-family: 'Open Sans', sans-serif;
}

.fonts {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

small {
    font-size: 1.3rem;

}

.p-result {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.p2-result {
    font-family: 'Bebas Neue', cursive;
}

.p3-result {
    font-family: 'Lato', sans-serif;
}

.p4-result {
    font-family: 'Lobster', cursive;
}